@layer reset {
  /********* Reset **********/
  /* Stop any animation if the user has set their device to "prefers reduced motion". */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
      animation-duration: 0.1s !important;
      transition-duration: 0.1s !important;

      scroll-behavior: smooth;
    }
  }

  /*
  1. Use a more-intuitive box-sizing model.
*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  /*
  2. Remove default margin
*/
  * {
    margin: 0;
  }
  /*
  3. Allow percentage-based heights in the application
*/
  html,
  body {
    height: 100%;
  }
  /*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
  6. Improve media defaults
*/
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  /*
  7. Remove built-in form typography styles
*/
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  /*
  8. Avoid text overflows
*/
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  /*
  9. Create a root stacking context
*/
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer fonts {
  /* livvic-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/livvic-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* livvic-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/livvic-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

body {
  background-color: var(--clr-primary-600);
  color: var(--clr-neutral-100);
}

.wrapper {
  inline-size: 100%;
  max-inline-size: 69.375rem; /* ~1110px */
  margin-inline: auto;
  padding-inline: 1.5rem; /* Mobile default */

  @media (min-width: 40rem) {
    padding-inline: 2.5rem;
  }

  @media (min-width: 64rem) {
    padding-inline: 4rem;
  }

  @media (min-width: 90rem) {
    padding-inline: 0;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/********* Typography **********/
h1 {
  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  line-height: 1;

  @media (min-width: 37.5rem) {
    font-size: var(--fs-800);
  }
}
