@import url('./base.css');

:root {
  /* Primary colors */
  --clr-primary-500: hsl(186 98% 17%);
  --clr-primary-600: hsl(187 41% 29%);
  --clr-primary-700: hsl(186 100% 14%);
  --clr-primary-800: hsl(186 96% 10%);
  --clr-primary-900: hsl(186 100% 8%);

  /* Accent colors */
  --clr-accent-coral: hsl(0 87% 73%);
  --clr-accent-blue: hsl(179 42% 63%);

  /* Neutral colors */
  --clr-neutral-100: hsl(0 0% 100%);

  /* Font families */
  --ff-base: 'Livvic', sans-serif;

  /* Font sizes */
  --fs-400: 0.9375rem; /* 15px */
  --fs-500: 1.125rem; /* 18px */
  --fs-550: 2rem; /* 32px */
  --fs-600: 2.5rem; /* 40px */
  --fs-700: 3rem; /* 48px */
  --fs-800: 4rem; /* 64px */
  --fs-900: 6.25rem; /* 100px */

  /* Font weights */
  --fw-base: 600;
  --fw-bold: 700;

  /* Spacing */
  --spacing-050: 0.25rem; /* 4px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-250: 1.25rem; /* 20px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-600: 3rem; /* 48px */
  --spacing-800: 4rem; /* 64px */
  --spacing-1000: 5rem; /* 80px */
  --spacing-1200: 6rem; /* 96px */
  --spacing-1400: 7rem; /* 112px */
  --spacing-1600: 8rem; /* 128px */
  --spacing-1800: 9rem; /* 144px */
  --spacing-2000: 10rem; /* 160px */
  --spacing-2500: 12.5rem; /* 200px */
  --spacing-3000: 16rem; /* 256px */
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-base);
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.btn {
  background-color: transparent;
  display: inline-block;
  text-decoration: none;
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  padding: var(--spacing-100) var(--spacing-400);
  border: 2px solid var(--clr-neutral-100);
  border-radius: 100vw;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn--light {
  border: 2px solid var(--clr-neutral-100);
  color: var(--clr-neutral-100);
}

.btn--light:hover,
.btn--light:focus-visible {
  background-color: var(--clr-neutral-100);
  color: var(--clr-primary-900);
}

.btn--light:focus-visible {
  outline: 3px solid var(--clr-neutral-100);
  outline-offset: 4px;
}

.btn--dark {
  border: 2px solid var(--clr-primary-800);
  color: var(--clr-primary-800);
}

.btn--dark:hover,
.btn--dark:focus-visible {
  background-color: var(--clr-primary-800);
  color: var(--clr-neutral-100);
}

.btn--dark:focus-visible {
  outline: 3px solid var(--clr-primary-800);
  outline-offset: 4px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/***** Header Styles  *****/
.header {
  background-color: var(--clr-primary-600);
  padding-block: var(--spacing-600);
}

.header__layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-inline-end: var(--spacing-400);
}

.nav__wrapper {
  @media (min-width: 600px) {
    flex-grow: 1;
  }
}

.nav__toggle--btn {
  inline-size: 48px;
  block-size: 48px;
  background-color: transparent;
  background-image: url(../assets/images/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-position: right center;
  border: none;
  cursor: pointer;
  z-index: 50;
  position: relative;

  @media (min-width: 600px) {
    display: none;
  }
}

.nav__toggle--btn[aria-expanded='true'] {
  background-image: url(../assets/images/icon-close.svg);
}

.main__nav {
  background-color: var(--clr-primary-600);
  position: fixed;
  inset: 0 0 0 25%;
  height: 100%;
  z-index: 20;
  text-transform: lowercase;
  transform: translateX(100%);
  transition: transform 0.6s ease-in-out;

  background-image: url(../assets/images/bg-pattern-about-1-mobile-nav-1.svg);
  background-repeat: no-repeat;
  background-position: bottom right -6rem;

  @media (min-width: 600px) {
    background-color: transparent;
    background-image: none;
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0);
    transition: transform 0s;
  }
}

.main__nav a {
  text-decoration: none;
  color: var(--clr-neutral-100);
  font-size: var(--fs-500);
  font-weight: var(--fw-base);
}

.main__nav a:hover,
.main__nav a:focus-visible {
  color: var(--clr-accent-coral);
}

.main__nav .btn--menu:hover,
.main__nav .btn--menu:focus-visible {
  color: var(--clr-primary-900);
}

.main__nav.open {
  display: block;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.main__nav--list {
  list-style: none;
  padding: 4rem 2rem;
  padding-block-start: var(--spacing-1400);
  padding-inline-start: var(--spacing-600);
  display: flex;
  flex-direction: column;
  gap: 2rem;

  @media (min-width: 600px) {
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    padding: 1rem 0;
  }
}

.last--link {
  @media (min-width: 600px) {
    margin-inline-start: auto;
  }
}

.overlay {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  visibility: hidden;

  @media (min-width: 600px) {
    display: none;
  }
}

.overlay.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out;
}

/***** Footer Styles *****/
.footer {
  background-color: var(--clr-primary-900);
  color: hsl(0 0% 100% / 0.6);
  padding-block: var(--spacing-800);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    'logo'
    'navigation'
    'address'
    'social'
    'copyright';
  gap: 2.25rem;
  justify-content: center;
  text-align: center;
}

.footer__logo {
  grid-area: logo;
}

.footer__nav {
  grid-area: navigation;
}

.social-nav {
  grid-area: social;
}

.company-info {
  grid-area: address;
}

.copyright {
  grid-area: copyright;
}

.footer__logo {
  margin-inline: auto;
}

.footer__nav ul {
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
  justify-content: center;
  font-size: var(--fs-400);
}

.social__nav ul {
  display: flex;
  gap: var(--spacing-300);
  align-items: center;
  justify-content: center;
  font-size: var(--fs-500);
}

.footer__nav--link {
  color: var(--clr-neutral-100);
  font-weight: var(--fw-base);
  text-decoration: none;
}

.footer__nav--link:hover,
.footer__nav--link:focus-visible {
  color: var(--clr-accent-coral);
}

.social-icon {
  width: 24px;
  height: 24px;
  color: var(--clr-neutral-100);
  transition: color 0.3s ease;
}

.social__nav--link:hover .social-icon,
.social__nav--link:focus-visible .social-icon {
  color: var(--clr-accent-coral);
}

/***** Media Queries  *****/
@media screen and (min-width: 40rem) {
  .grid-container {
    grid-template-areas:
      'logo       address  '
      'navigation address  '
      'social     copyright';
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    text-align: left;
  }

  .footer__logo {
    margin-inline: 0;
  }

  .company-info,
  .copyright {
    text-align: right;
  }

  .footer__nav ul {
    justify-content: start;
  }

  .social__nav ul {
    justify-content: start;
  }
}

@media (min-width: 48rem) {
  .footer .wrapper {
    align-items: center;
    flex-direction: row;
    gap: var(--spacing-600);
  }

  .footer__logo {
    margin-inline: 0;
  }
}

@media screen and (min-width: 59.375rem) {
  .grid-container {
    gap: var(--spacing-300);
    grid-template-columns: 1fr 2fr 18.75rem;
    grid-template-areas:
      'logo       address social'
      'navigation address copyright';
  }

  .company-info {
    text-align: left;
  }

  .social__nav ul {
    justify-content: end;
  }
}

/***** Hero Styles  *****/
.hero {
  text-align: center;
  background-image: url(../assets/images/bg-pattern-home-2.svg);
  background-repeat: no-repeat;
  background-position: bottom center;

  & .text--accent {
    color: var(--clr-accent-coral);
  }

  & .page-subtitle {
    max-inline-size: 35ch;
    margin-inline: auto;
  }

  @media (min-width: 64rem) {
    background-position: bottom right 8rem;
  }

  @media (min-width: 80rem) {
    background-image: url(../assets/images/bg-pattern-home-1.svg), url(../assets/images/bg-pattern-home-2.svg);
    background-repeat: no-repeat;
    background-position: left -100px top 6rem, bottom right 8rem;
  }
}

/***** About Hero Styles  *****/
.header--about {
  background-color: var(--clr-primary-500);
}

.hero--about {
  background-color: var(--clr-primary-500);
  background-image: url(../assets/images/bg-pattern-about-1-mobile-nav-1.svg);
  background-repeat: no-repeat;
  background-position: bottom -100px right -100px;

  @media (min-width: 37.5rem) {
    background-position: bottom right -100px;
  }

  & .hero--layout {
    padding-block-end: var(--spacing-1400);

    @media (min-width: 48rem) {
      padding-block: var(--spacing-800) var(--spacing-1400);
    }
    @media (min-width: 64rem) {
      justify-content: start;
      gap: var(--spacing-1600);

      & .page-subtitle {
        max-inline-size: 55ch;
      }
    }

    @media (min-width: 80rem) {
      & h1 {
        font-size: var(--fs-800);
      }

      & .page-subtitle {
        max-inline-size: 70ch;
      }

      & .page-subtitle::before {
        content: '';
        display: block;
        inline-size: var(--spacing-600);
        block-size: 4px;
        background-color: var(--clr-accent-coral);
        margin-block-end: var(--spacing-600);
      }
    }
  }
}

.hero--layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-300);
  padding-block-end: var(--spacing-2500);

  @media (min-width: 48rem) {
    padding-block: var(--spacing-1200) var(--spacing-3000);

    & .page-subtitle {
      max-inline-size: 50ch;
    }
  }

  @media (min-width: 64rem) {
    flex-direction: row;
    justify-content: space-between;

    & h1 {
      text-align: left;
    }

    & .page-subtitle {
      max-inline-size: 35ch;
      margin-inline: 0;
      text-align: left;

      align-self: end;
      margin-block-end: 0.5rem;
    }
  }

  @media (min-width: 80rem) {
    & h1 {
      font-size: var(--fs-900);
    }

    & .page-subtitle::before {
      content: '';
      display: block;
      inline-size: var(--spacing-600);
      block-size: 4px;
      background-color: var(--clr-accent-blue);
      margin-block-end: var(--spacing-600);
    }
  }
}

/***** Services Styles  *****/
.services {
  background-color: var(--clr-primary-800);
  background-image: url(../assets/images/bg-pattern-home-3.svg);
  background-repeat: no-repeat;
  background-position: top right -6rem;
  padding-block: var(--spacing-800);

  @media (min-width: 48rem) {
    padding-block: var(--spacing-1200);
  }

  @media (min-width: 67.5rem) {
    background-position: bottom right -6rem;
  }
}

.services--layout {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-800);

  @media (min-width: 48rem) {
    /* padding-inline: var(--spacing-600); */
  }

  @media (min-width: 67.5rem) {
    flex-direction: row;
    /* padding-inline: var(--spacing-600); */
  }
}

.services--title {
  max-inline-size: 15rem;
  margin-inline-start: 0;

  @media (min-width: 48rem) {
    max-inline-size: 30rem;
  }

  @media (min-width: 64rem) {
    max-inline-size: 20rem;
  }
}

.services--title::before {
  content: '';
  position: absolute;
  inset: -2rem 0 0 0;
  inline-size: var(--spacing-600);
  block-size: 4px;
  background-color: var(--clr-accent-coral);
}

.services--features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-600);

  @media (min-width: 48rem) {
    gap: var(--spacing-400);
  }
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-200);

  & h3 {
    margin-block-end: var(--spacing-100);
  }

  & .text--accent {
    color: var(--clr-accent-coral);
  }

  @media (min-width: 48rem) {
    flex-direction: row;
    text-align: left;
    align-items: flex-start;
    gap: var(--spacing-300);
  }
}

/***** Testimonials Styles  *****/
.testimonials {
  position: relative;
  background-color: var(--clr-primary-700);
  background-image: url(../assets/images/bg-pattern-home-4-about-3.svg), url(../assets/images/bg-pattern-home-5.svg);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  padding-block: var(--spacing-1800);
  text-align: center;
}

.testimonials--layout {
  display: flex;
  flex-direction: column;
}

.testimonials--title {
  margin-inline: auto;
  margin-block-end: var(--spacing-1000);
  max-inline-size: 25ch;

  @media (min-width: 1024px) {
    max-inline-size: 32ch;
  }
}

.accent--blue {
  color: var(--clr-accent-blue);
}

.reviews {
  display: flex;
  flex-direction: column;

  @media (min-width: 64rem) {
    flex-direction: row;
    gap: var(--spacing-800);
    justify-content: center;
  }
}

.review {
  display: flex;
  flex-direction: column;
}

.review:not(:last-of-type) {
  margin-block-end: var(--spacing-1000);

  @media (min-width: 64rem) {
    margin-block-end: 0;
  }
}

.reviewer--meta {
  margin-inline: auto;
  margin-block-start: auto;
}

.reviewer--headshot {
  border: 2px solid hsl(179 100% 88%);
  border-radius: 100vw;
  width: 62px;
  margin-inline: auto;
  margin-block-start: var(--spacing-200);
}

blockquote {
  position: relative;
  margin-inline: auto;
}

blockquote p {
  position: relative;
  margin-inline: auto;
  margin-block-end: var(--spacing-200);
  max-inline-size: 38ch;
}

blockquote::before {
  content: url('../assets/images/icon-quotes.svg');
  position: absolute;
  color: var(--clr-primary-600);
  top: -2rem;
  display: block;
  left: calc(50% - 40px);
  width: 50px;
}

/***** CTA Styles  *****/
.cta {
  background-color: var(--clr-accent-coral);
  color: var(--clr-primary-800);
  padding-block: var(--spacing-1200);
  text-align: center;

  background-image: url(../assets/images/bg-pattern-home-6-about-5.svg);
  background-repeat: no-repeat;
  background-position: bottom -1.5rem left;
}

.cta--layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-300);
  padding-inline: var(--spacing-300);

  @media (min-width: 48rem) {
    flex-direction: row;
    justify-content: space-between;
  }
}

/***** Director Section Styles  *****/
.directors {
  background-color: var(--clr-primary-700);
  padding-block: var(--spacing-1400) var(--spacing-1600);

  background-image: url(../assets/images/bg-pattern-about-2-contact-1.svg), url(../assets/images/bg-pattern-home-4-about-3.svg);
  background-repeat: no-repeat;
  background-position: top -6.25rem left -6.25rem, bottom right;

  @media (min-width: 48rem) {
    background-position: top left -6.25rem, bottom right;
  }
}

.directors__title {
  color: var(--clr-neutral-100);
  font-size: var(--fs-550);
  margin-block-end: var(--spacing-600);
  text-align: center;

  @media (min-width: 64rem) {
    font-size: var(--fs-800);
  }
}

.director__grid {
  --transition: 0.3s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  gap: 4.75rem 1.875rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  @media (min-width: 1440px) {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

.director__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-accent-coral);
  border: none;
  border-radius: 100px;
  height: 3.5rem;
  width: 3.5rem;
}

.director__card {
  display: grid;
  grid-template-areas: 'stack';

  background-color: var(--clr-primary-800);
  padding: var(--spacing-400) var(--spacing-300) var(--spacing-600);
  text-align: center;
}

.director__meta,
.director__card blockquote,
.director__btn {
  grid-area: stack;
}

.director__meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.director__btn {
  align-self: end;
  justify-self: center;
  transform: translateY(134%);
  transition: background-color var(--transition);
}

.director__btn .icon {
  transition: rotate var(--transition);
}

.director__btn[aria-expanded='true'] {
  background-color: var(--clr-accent-blue);
  outline: 3px solid var(--clr-neutral-100);
  outline-offset: 5px;
}

.director__btn[aria-expanded='true'] .icon {
  rotate: 135deg;
}

.director__card blockquote {
  background-color: var(--clr-primary-800);
  opacity: 0;
  visibility: hidden;

  transition: opacity var(--transition), visibility var(--transition);
}

.director__card.show blockquote {
  opacity: 1;
  visibility: visible;
}

.director__card blockquote::before {
  content: none;
}

.director__name {
  color: var(--clr-accent-blue);
  font-size: var(--fs-500);
}

.director__avatar {
  border: 2px solid hsl(179, 100%, 88%);
  border-radius: 100vw;
  height: 6rem;
  margin-bottom: 1rem;
  width: 6rem;
}

.director__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social--link {
  color: inherit;
}

.social--link:hover,
.social--link:focus-visible {
  color: var(--clr-accent-coral);
}

/***** CTA Styles  *****/

.clients {
  background-color: var(--clr-primary-800);
  padding-block: var(--spacing-1400) var(--spacing-1600);

  background-image: url(../assets/images/bg-pattern-about-4.svg);
  background-repeat: no-repeat;
  background-position: top -6.25rem left -6.25rem;

  @media (min-width: 48rem) {
    background-position: top -6.25rem left;
  }

  @media (min-width: 64rem) {
    background-position: top left;
  }
}
.clients--title {
  color: var(--clr-neutral-100);
  font-size: var(--fs-550);
  margin-block-end: var(--spacing-600);
  text-align: center;

  @media (min-width: 64rem) {
    font-size: var(--fs-800);
  }
}

.clients__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-600);

  @media (min-width: 48rem) {
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-800);
  }
}
