@layer reset {
  /********* Reset **********/
  /* Stop any animation if the user has set their device to "prefers reduced motion". */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation: none !important;
      transition: none !important;
      animation-duration: 0.1s !important;
      transition-duration: 0.1s !important;

      scroll-behavior: smooth;
    }
  }

  /*
  1. Use a more-intuitive box-sizing model.
*/
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  /*
  2. Remove default margin
*/
  * {
    margin: 0;
  }
  /*
  3. Allow percentage-based heights in the application
*/
  html,
  body {
    height: 100%;
  }
  /*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
  6. Improve media defaults
*/
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }
  /*
  7. Remove built-in form typography styles
*/
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  /*
  8. Avoid text overflows
*/
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }
  /*
  9. Create a root stacking context
*/
  #root,
  #__next {
    isolation: isolate;
  }
}

@layer fonts {
  /* livvic-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/livvic-v15-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* livvic-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Livvic';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/livvic-v15-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

:root {
  /* Primary colors */
  --clr-primary-500: hsl(186 98% 17%);
  --clr-primary-600: hsl(187 41% 29%);
  --clr-primary-700: hsl(186 100% 14%);
  --clr-primary-800: hsl(186 96% 10%);
  --clr-primary-900: hsl(186 100% 8%);

  /* Accent colors */
  --clr-accent-coral: hsl(0 87% 73%);
  --clr-accent-blue: hsl(179 42% 63%);

  /* Neutral colors */
  --clr-neutral-100: hsl(0 0% 100%);

  /* Font families */
  --ff-base: 'Livvic', sans-serif;

  /* Font sizes */
  --fs-400: 0.9375rem; /* 15px */
  --fs-500: 1.125rem; /* 18px */
  --fs-700: 3rem; /* 48px */
  --fs-800: 4rem; /* 64px */
  --fs-900: 6.25rem; /* 100px */

  /* Font weights */
  --fw-base: 600;
  --fw-bold: 700;

  /* Spacing */
  --spacing-050: 0.25rem; /* 4px */
  --spacing-100: 0.5rem; /* 8px */
  --spacing-150: 0.75rem; /* 12px */
  --spacing-200: 1rem; /* 16px */
  --spacing-250: 1.25rem; /* 20px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-600: 3rem; /* 48px */
  --spacing-800: 4rem; /* 64px */
  --spacing-1000: 5rem; /* 80px */
  --spacing-1200: 6rem; /* 96px */
  --spacing-1400: 7rem; /* 112px */
  --spacing-1600: 8rem; /* 128px */
  --spacing-1800: 9rem; /* 144px */
  --spacing-2000: 10rem; /* 160px */
}

body {
  font-family: var(--ff-base);
  font-weight: var(--fw-base);
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
